/bin/install
/bin/build
/bin/exec
/db/data
/db/*.sql
!/db/.gitkeep
/php/*
!/php/.gitkeep
/nginx/*
!/nginx/.gitkeep
/node/*
!/node/.gitkeep
/docker-compose.yml
./docker-compose-shared.yml
docker-compose-shared.yml
.idea/
/magento
/src/*
!/bin/mage
!/build/package.json
